.index::before{
	content:'';
	background:#FCCAA7;
	width:50px;
	height:130px;
	display: block;
	border:1px solid gray;
	border-radius:27px;
	position:relative;
	top:-80px;
	left:-4px;
	-webkit-transform:rotate(30deg) translateX(18px) translateY(-15px);
	box-shadow: 3px 10px 10px #FFFFFF inset;
}
.index{
	position:absolute;
	top:218px;
	left:300px;
	background:#FCCAA7;
	width:150px;
	height:45px;
	border:1px solid gray;
	border-radius:27px;
	box-shadow:3px 4px 25px #FFFFFF inset;
}
.index::after{
	content:'';
	display: block;
	background:#FCCAA7;
	height:130px;
	width:260px;
	position:relative;
	top:-110px;
	left:-150px;
	z-index:2;

}
.finger::before{
	content:'';
	background:#FCCAA7;
	width:150px;
	height:45px;
	border:1px solid gray;
	border-radius:20px;
	position:relative;
	top:-42px;
	display: block;
	box-shadow:0px 0px 20px #FFFFFF inset;
}
.finger{
	position:absolute;
	top:300px;
	left:300px;
	background:#FCCAA7;
	width:150px;
	height:45px;
	border:1px solid gray;
	border-radius:27px;
	box-shadow:0px 0px 20px #FFFFFF inset;
}
.finger::after{
	content: "";
	position:relative;
	top:-2px;
	width:150px;
	height:45px;
	background:#FCCAA7;
	border:1px solid gray;
	border-radius: 20px;
	display: block;
	box-shadow:0px 0px 20px #FFFFFF inset;
}